#server:
#  port: 8089
#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/
#  instance:
#    prefer-ip-address: true
#    instance-id: api-gateway:127.0.0.1:8089
#    ip-address: 127.0.0.1
#    hostname: localhost
#    non-secure-port: 8089
#    status-page-url: http://127.0.0.1:8089/actuator/info
#    health-check-url: http://127.0.0.1:8089/actuator/health
#    home-page-url: http://127.0.0.1:8089/
#spring:
#  application:
#    name: front-ui-microservice
#  jackson:
#    property-naming-strategy: SNAKE_CASE
#logging:
#  level:
#    org:
#      springframework:
#        security: DEBUG
server:
  port: 8088
spring:
  main:
    web-application-type: reactive
  application:
    name: api-gateway
  config:
    import: "optional:consul:"
  cloud:
    consul:
      host: consul
      port: 8500
      config:
        enabled: false  
      discovery:
        enabled: false  
    gateway:
      server:
        webflux:
          routes:
            - id: accounts-microservice
              uri: lb://accounts-microservice
              predicates:
                - Path=/accounts/**
              filters:
                - StripPrefix=1
            - id: cash-microservice
              uri: lb://cash-microservice
              predicates:
                - Path=/cash/**
              filters:
                - StripPrefix=1
            - id: transfer-microservice
              uri: lb://transfer-microservice
              predicates:
                - Path=/transfer/**
              filters:
                - StripPrefix=1
            - id: exchange-microservice
              uri: lb://exchange-microservice
              predicates:
                - Path=/exchange/**
              filters:
                - StripPrefix=1
            - id: notifications-microservice
              uri: lb://notifications-microservice
              predicates:
                - Path=/notifications/**
              filters:
                - StripPrefix=1
          discovery:
            locator:
              enabled: true
              lower-case-service-id: true

eureka:
  instance:
      instance-id: ${spring.application.name}:${server.port}
      prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://eureka:8761/eureka
    register-with-eureka: true
    fetch-registry: true