apiVersion: v1
kind: Service
metadata:
  name: api-gateway
spec:
  type: {{ .Values.service.type }}
  selector:
    app: api-gateway
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8088
