apiVersion: apps/v1
kind: Deployment
metadata:
  name: blocker-microservice
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blocker-microservice
  template:
    metadata:
      labels:
        app: blocker-microservice
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 8087
---
apiVersion: v1
kind: Service
metadata:
  name: blocker-microservice
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: 8087
      nodePort: {{ .Values.service.nodePort }}
  selector:
    app: blocker-microservice
